body{
    width: auto;
    background:url(back.png) rgba(75, 80, 146, 0.7);
    background-size: cover;
    background-blend-mode: soft-light ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    text-align: center;
    color: white;
}

header p{
    font-style: italic;
}

fieldset{
    background-color: rgba(0, 0, 71, 0.8);
    width: 500px;
    margin: auto;
    color: white;
    border: none;
    padding: 20px;
}



input[type="text"]{
    width: 500px ;
}
[type="email"]{
    width: 500px;
}

select{
    width: 510px;
    height: 25px;
    color: rgb(134, 134, 134);
    background-color: white;
    border: none;
    margin-bottom: 20px;
    display: inline-block;
}

option{
    background-color: white;
}
textarea{
    width: 500px;
    height: 70px;
}
input[type="submit"]{
    width: 510px;
    height: 30px;
    color: white;
    background-color: green;
    border: none;
}

label{
    margin-bottom: 10px;
    display: inline-block;
}

input.space{
    margin-bottom: 20px;
    display: inline-block;
}

